*{
    box-sizing: border-box;
}
body{
    color:rgb(94, 61, 66) ;
    background-color :  rgb(250, 234, 237);
   
}
a{
    cursor: pointer;
}
img{
    max-width: 100%;
}
main{
     padding: 10px;
    max-width: 960px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

header a{
    text-decoration: none;
    color: inherit;
}
header a.logo{
    font-weight: bold;
    font-size: 1.5rem;
}
header nav{
    display: flex;
    gap: 15px;
    
}

div.post {
display: grid;
grid-template-columns:  1fr;
gap: 20px;
margin-bottom: 30px;
}
@media screen and (min-width: 700px) {
    div.post{
        grid-template-columns: .9fr 1.1fr;
    }
}


div.post div.content h2{
   margin: 0;
   font-size: 1.7rem; 

    
}
div.post div.content a{
   text-decoration: none; 
   color: inherit;

}
div.post p.info{
margin: 6px 0;
color: rgb(102, 99, 95);
font-size: .7rem;
font-weight: bold;
display: flex;
gap: 10px;
}

div.post p.info a.author{
   color: #333; 
}
div.post p.summary{
    margin: 10px 0;
    line-height: 1.5rem;
}
form.login ,form.register{
    max-width: 400px;
    margin: auto;
   
}
input{
display: block;
margin-bottom: 8px;
width: 100%;
padding: 6px 9px;
border: 1px solid #ddd;
border-radius: 5px;
background-color: #fff;

}
button{
    width: 100%;
    display: block;
    background-color: #856b6b;
    border:1px solid #3f3030 ;
    border-radius: 6px;
    color: antiquewhite;
}
button:hover{
    color: rgb(73, 40, 73);
    background-color: #dba7ce;
}

form.login h1, form.register h1{
    text-align: center;
}
div.post-page div.image{
    max-height:300px;
    display: flex;
    overflow:hidden;
}
div.post-page div.image img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}
div.post-page a{
    color:#333;
    text-decoration: underline;
}
div.post-page h1{
    text-align: center;
    margin: 10px 0 5px;
}
div.post-page h1{
    text-align: center;
    margin: 10px 0 5px;
}
div.post-page time{
    text-align: center;
    display: block;
    font-size:1rem;
    color:#aaa;
    margin: 10px 0;
}
div.post-page div.author{
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}
div.contents p{
    line-height: 1.7rem;
    margin: 30px 0;
}
div.contents li{
    margin-bottom: 10px;
}
div.edit-row{
    text-align: center;
    margin-bottom: 20px;
}
div.post-page a.edit-btn{
    background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: #856b6b;
    border:1px solid #3f3030 ;
    border-radius: 6px;
    color: antiquewhite;
    padding:10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
div.post-page a.edit-btn:hover{
     color: rgb(73, 40, 73);
    background-color: #dba7ce;
}
a svg{
    height:40px;
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: #e2dede;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.social{
    padding-top: 100px;
}
.title{
    padding-bottom: 40px;
}
.footer{
    height: 40px;
    width: 100%;
    left: 0;
    bottom: 0;
   padding-top: 100px;
    text-align: center;
    border-color:#e2dede ;
}
.search{
 width: 200px;
padding: 5px 6px;

}
